* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    background-color: white;
    width: 100vmin;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

button {
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border: none;
    background-color: white;
    outline: none;
    color: black;
}

select {
    padding: 7px;
    border: 1px solid black;
    border-radius: 4px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="color"] {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

label i {
    cursor: pointer;
}

#text-input {
    padding: 20px;
    margin-top: 12px;
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #dddddd;
}

